body {
  background-color: @black;
  color: @grayLighter;
  padding: 20px 30px 50px;
  margin-left: 250px;
  border-left: 20px solid @gsBlue;
}

.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
}

h1,h2,h3,h4 {
  font-weight: normal;
  color: @gsBlue;
}

code {
  background-color: transparent;
  color: @gsBlue;
  border: none;
}
