<!doctype html>
<html>
<head>
  <title>GigaStorm Style Guide</title>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="sidebar">
    <img src="img/gs-logo.png" alt="GigaStorm">
    <hr>
    <h5>Style Guides</h5>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="python.html">Python</a></li>
      <li><a href="javascript.html">Javascript</a></li>
      <li><a href="java.html">Java</a></li>
    </ul>
  </div>
  <!-- <div class="container"> -->
    <%=content%>
  <!-- </div> -->
</div>
<script>
  var underscored = function(str){
    return str.replace(/([a-z\d])([A-Z]+)/g, '$1_$2').replace(/[-\s]+/g, '_').toLowerCase();
  };
  $('pre').addClass('prettyprint');
  $('h1,h2,h3,h4,h5,h6').each(function() {
    $(this).attr('id', underscored($(this).html().toLowerCase()));
  });
</script>
</body>
</html>
